body{
    background-color: grey;
}

.lista-card{
column-gap: 10px;
row-gap: 10px;
display: flex;
flex-wrap: wrap;
}

.card{
    display: flex;
    border: 2px solid red;
    width: fit-content;
    align-items: center;
    margin-top: 1px;
    border-radius: 10px;
    flex-direction: column;
    background-color: black;
    color: white;
}

header{
    background-color: brown;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;

}

span{
    color: white;
    width: fit-content;
    text-decoration: underline;
}

nav{
    background-color: brown;
}

h1{
    color: white;
}

.card1{
    display: flex;
    width: fit-content;
    column-gap: 10px;
    row-gap: 10px;
   border: 2px solid white;
   border-radius: 10px;
    margin-top: 5px;
    
}

.B1{
    background-color: blue;
    padding: 5 10px;
    color: white;
}

.mini{
    border: 2px solid white;
    padding: 2px;
    margin-top: 10px;
    border-radius: 10px;
}
.valor{
    color: green;
}

.text{
    border: 2px solid blue;
    width: fit-content;
    border-radius: 10px;
    margin: 10px;
}

h3{
    margin-bottom: 10px;
    margin-top: 7px;
}

.detalhes{
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
}

.tamanhos{
    border: 2px solid black;
    width: fit-content;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin: 10px;
   
}

.medida{
    margin: 5px;
}

.selecao{
    background-color: blue;
    border-radius: 10px;
    margin: 7px;
    color: white;
    width: fit-content;
    align-items: center;
    
}

.pagamento{
    border: 2px solid black;
    width: fit-content;
    margin: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.t1{
    margin: 5px;

}

.novadiv{
    display: flex;
    flex-direction: row;
    
}

.BT{
    margin: 10px;
    background-color: blue;
    color: white;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
}
