.novacard{
    display: flex;
    border: 2px solid red;
    width: fit-content;
    align-items: center;
    margin-top: 1px;
    border-radius: 10px;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 7px;
}

.lista{
    column-gap: 10px;
    row-gap: 10px;
    display: flex;
    flex-wrap: wrap;
}